[submodule "site-lisp/modus-themes"]
	path = site-lisp/modus-themes
	url = https://gitlab.com/protesilaos/modus-themes.git
[submodule "site-lisp/treesit-fold"]
	path = site-lisp/treesit-fold
	url = https://github.com/emacs-tree-sitter/treesit-fold.git
